Package: fidocadj-0.24.6.deb
Mainteiner: simo-zz simonzz@yahoo.it 
Architecture: all
Description: 2D CAD for electrical and electronics schematics developed by Davide Bucci
 FidocadJ is a 2D CAD for electrical and electronics schematics developed by Davide Bucci. This is a test.
Version: 0.24.6
Source: /usr/local/share/fidocadj/bin/fidocadj.jar
Maintainer: simon-zz simonzz@yahoo.it
Build-Depends: openjdk-8-jre
Depends: openjdk-7-jre | openjdk-8-jre
Standards-Version: 0.24.6
